In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
%matplotlib inline
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Meulaboh,4.14,96.13,84.31,71,79,3.91,ID,2020-03-01 05:29:31
1,1,Saskylakh,71.92,114.08,2.44,90,77,13.42,RU,2020-03-01 05:29:31
2,2,Yulara,-25.24,130.99,95.00,28,100,16.11,AU,2020-03-01 05:29:31
3,3,Faanui,-16.48,-151.75,79.83,88,100,36.26,PF,2020-03-01 05:29:31
4,4,Fortuna,40.60,-124.16,46.99,81,90,5.82,US,2020-03-01 05:29:31

In [3]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
%matplotlib inline

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
#print(locations)
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
for i, temp in enumerate(max_temp):
    if temp < 0:
        max_temp[i] = 0

#print(max_temp)
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, max_temp) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

/Users/priyankasenapati/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
#print(locations)
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
for i, temp in enumerate(max_temp):
    if temp < 0:
        max_temp[i] = 0

#print(max_temp)
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Meulaboh,4.14,96.13,84.31,71,79,3.91,ID,2020-03-01 05:29:31
3,3,Faanui,-16.48,-151.75,79.83,88,100,36.26,PF,2020-03-01 05:29:31
8,8,Butaritari,3.07,172.79,82.98,81,96,22.84,KI,2020-03-01 05:29:32
10,10,Port Macquarie,-31.43,152.92,84.20,62,13,14.99,AU,2020-03-01 05:31:20
11,11,Avarua,-21.21,-159.78,77.00,88,0,12.75,CK,2020-03-01 05:31:20
12,12,Vaini,-21.20,-175.20,82.40,78,20,8.05,TO,2020-03-01 05:31:20
13,13,Karratha,-20.74,116.85,85.48,80,25,8.81,AU,2020-03-01 05:29:33
14,14,Rikitea,-23.12,-134.97,80.11,80,100,14.63,PF,2020-03-01 05:31:20
15,15,Busselton,-33.65,115.33,82.00,27,47,19.26,AU,2020-03-01 05:29:34
21,21,Noumea,-22.28,166.46,86.00,66,99,12.75,NC,2020-03-01 05:24:35

In [13]:
preferred_cities_df.count()

City_ID       204
City          204
Lat           204
Lng           204
Max Temp      204
Humidity      204
Cloudiness    204
Wind Speed    204
Country       204
Date          204
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

               City Country  Max Temp    Lat     Lng Hotel Name
0          Meulaboh      ID     84.31   4.14   96.13
3            Faanui      PF     79.83 -16.48 -151.75
8        Butaritari      KI     82.98   3.07  172.79
10   Port Macquarie      AU     84.20 -31.43  152.92
11           Avarua      CK     77.00 -21.21 -159.78
..              ...     ...       ...    ...     ...        ...
551     Salinopolis      BR     80.62  -0.61  -47.36
559      Maningrida      AU     85.30 -12.07  134.27
561          Maceio      BR     77.00  -9.67  -35.74
565         Da Nang      VN     87.80  16.07  108.22
568         Msowero      TZ     73.40  -6.53   37.20

[204 rows x 6 columns]

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Meulaboh,ID,84.31,4.14,96.13,Kost Pria
3,Faanui,PF,79.83,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
8,Butaritari,KI,82.98,3.07,172.79,Isles Sunset Lodge
10,Port Macquarie,AU,84.20,-31.43,152.92,Rydges Port Macquarie
11,Avarua,CK,77.00,-21.21,-159.78,Paradise Inn
...,...,...,...,...,...,...
551,Salinopolis,BR,80.62,-0.61,-47.36,Hotel Salinópolis
559,Maningrida,AU,85.30,-12.07,134.27,Dhukurrdji Lodge
561,Maceio,BR,77.00,-9.67,-35.74,Mercure Maceió
565,Da Nang,VN,87.80,16.07,108.22,Grand Mercure Danang
568,Msowero,TZ,73.40,-6.53,37.20,

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))